/* Global */
:root {
    /* Color */
    --color--black: #000000;
    --color--white: #ffffff;

    /* Font size */
    --font--small: 16px;
    --font--regular: 18px;
    --font--midium: 28px;
    --font--large: 48px;

    /* Font weight */
    --weight--light: 200;
    --weight--regular: 400;
    --weight--bold: 600;
    --weight--extrabold: 800;

    /* Size */

}

/* Universal tages */
* {
    box-sizing: border-box;
}

/* Typography */
h1 {
    font-size: var(--font--large);
    font-weight: var(--weight--extrabold);
    color: var(--color--black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font--midium);
    font-weight: var(--weight--bold);
    color: var(--color--black);
    margin: 8px 0px;
}

h3 {
    font-size: var(--font--regular);
    font-weight: var(--weight--regular);
    color: var(--color--black);
    margin: 8px 0px;
}

p {
    font-size: var(--font--small);
    font-weight: var(--weight--light);
    color: var(--color--black);
    margin: 8px 0px;
}